.searchBarContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    padding-left: 20px;
    height: 56px;
    box-shadow: 0px 2px 6px 0px #435971;
    width: 100%;
    max-width: 770px;
    border: 1px solid #E3E8F0;
}

.searchInput {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 18px;
    font-family: 'Segoe UI', Arial, sans-serif;
    color: #272D3B;
    outline: none;
    padding: 0;
    height: 100%;
}

.searchInput::placeholder {
    color: #7eb0fb;
    font-size: 18px;
}

.searchIcon {
    width: 24px;
    height: 24px;
}