.form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
}

.formWrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .fieldsWrapper {
        display: grid;
        flex-basis: 60%;
        grid-template-columns: 1fr 1fr;
        row-gap: 37.5px;
        column-gap: 160px;
    }

    .fileInputWrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

.buttonsWrapper {
    display: flex;
    gap: 30px;
    align-items: center;
    align-self: flex-end;
}

.error {
    color: #d32f2f;
    margin-bottom: 12px;
    font-size: 15px;
    text-align: center;
}