.dotsIcon {
    cursor: pointer;
    filter: brightness(0);
    transform: translate(-40px, -20px);
    position: absolute;

    &:hover {
        filter: none;
    }
}

.menuWrapper {
    position: absolute;

    .menu {
        display: none;
        position: absolute;
        top: 20px;
        right: 0px;
        z-index: 3;
        background-color: #fff;
        box-shadow: 0px 4px 8px #272d3b33;
        border-radius: 12px;

        &.opened {
            display: block;
        }

        li {
            padding: 15px 40px;
            margin-inline: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #a5c9ff;
            cursor: pointer;
        }
    }
}