.wrapper {
    width: 100%;
    box-shadow: 0 3px 16px #0a4b6d14;
    border-radius: 16px;
    overflow: hidden;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 22px;
    border: 1px solid #a5c9ff;
    text-align: left;

    .customerTable {
        width: 100%;
    }

}

th,
td {
    padding: 18px 45px;
    vertical-align: middle;
    width: 33.3%;
}

thead {
    border-bottom: 1px solid #a5c9ff;
}

th {
    font-weight: 700;
    color: #272d3b;
}

tr {
    background: #fff;
    transition: background 0.2s;
    border-radius: 12px;
    height: 105px;
}

td {
    color: #272d3b;
}

.customerRow {
    td {
        border-bottom: 1px solid #a5c9ff;

        &:last-child {
            width: 0;
            padding: 0;
        }
    }

    &:last-child {
        td {
            border-bottom: none;
        }
    }
}

.customerName {
    text-decoration: underline;
    cursor: pointer;
    color: #3ebcf1;
}