.customerTable {
    width: 100%;
    border-collapse: separate;
    box-shadow: 0 3px 16px #0A4B6D14;
    border-radius: 16px;
    overflow: hidden;
    font-family: 'Segoe UI', Arial, sans-serif;
    font-size: 22px;
    border: 1px solid #A5C9FF;
    text-align: left;
}

th,
td {
    padding: 18px 45px;
    vertical-align: middle;
}

th {
    font-weight: 700;
    color: #272D3B;
    border-bottom: 1px solid #A5C9FF;
}

tr {
    background: #fff;
    transition: background 0.2s;
    border-radius: 12px;
}

td {
    color: #272D3B;
}


.customerRow {
    height: 105px;
    position: relative;

    td {
        border-bottom: 1px solid #A5C9FF;
    }

    &:last-child {
        td {
            border-bottom: none;
        }
    }
}

.customerName {
    text-decoration: underline;
    cursor: pointer;
    color: #3EBCF1;
}

.dotsIcon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    fill: #fff;
}